body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#img_bg {
	padding-top: 1px;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	color: #fff;
	text-align: center;
	font-size: 5.5vh;
	padding-top: 1rem;
}

input {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5rem;
	
	text-align: center;
	font-size: 1.5rem;

	width: 50%;
	height: 2rem;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	box-shadow: 0 4px 50px black;
	backdrop-filter: blur(0.1px);
	border: 1px solid rgba(255, 255, 255, 0.45);
}

main section h1 {
	text-align: center;
}

main section div {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4.5rem;
	justify-content: center;
	margin: auto;
	width: 80%;
}

main section div span {
	font-size: 1.3rem;
	text-align: center;
}
